<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<br>
<center>
<img src="static/Logo.png" />
<h2>Fruit insight is just a click away!</h2>
<h3>Choose a fruit picture: a local file, or take one from your camera with 'Choose File' below, and then 'Submit'!</h3>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
			<input type="submit" value="Submit">
		</p>
	</dl>
	<h4>(For best results, please open in chrome browser)</h4>
</center>
</form> 